PiVot/src/main/scala/fr/emn/criojo/bpmn/BookProcess_DF.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xsi:schemaLocation="http://schemas.xmlsoap.org/wsdl/ http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://webservice.activiti.org/"
                    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <types>
        <xs:schema>
            <xs:element name="reservationRequest">
                <xs:complexType>
                    <xs:element name="cardNumber" type="xs:string"/>
                    <xs:element name="cardType" type="xs:string"/>
                    <xs:element name="arrival" type="xs:string"/>
                    <xs:element name="departure" type="xs:string"/>
                    <xs:element name="airline" type="xs:string"/>
                    <xs:element name="hotel" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="ReservationResponse">
                <xs:complexType>
                    <xs:element name="reservation-number" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="ccInfo">
                <xs:complexType>
                    <xs:element name="cardNumber" type="xs:string"/>
                    <xs:element name="cardType" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="hotelReservationRequest">
                <complexType>
                    <xs:element name="arrival" type="xs:string"/>
                    <xs:element name="departure" type="xs:string"/>
                </complexType>
            </xs:element>
            <xs:element name="hotelReservationResponse">
                <complexType>
                    <xs:element name="confirmationCode" type="xs:string" />
                </complexType>
            </xs:element>
            <xs:element name="flightReservationRequest">
                <complexType>
                    <xs:element name="arrival" type="xs:string"/>
                    <xs:element name="departure" type="xs:string"/>
                    <xs:element name="airline" type="xs:string"/>
                </complexType>
            </xs:element>
            <xs:element name="flightReservationResponse">
                <complexType>
                    <xs:element name="confirmationCode" type="xs:string" />
                </complexType>
            </xs:element>
        </xs:schema>
    </types>

    <message name="reservationRequest">
        <part element="tns:reservationRequest" name="parameters" />
    </message>
    <message name="ccInfo">
        <part element="tns:ccInfo" />
    </message>
    <message name="ccResponse>">
        <part element="xs:string" name="response"/>
    </message>

    <message name="reservationResponse">
        <part element="tns:reservationResponse" name="parameters" />
    </message>

    <portType name="ReservationPort">
        <operation name="checkCCOperation">
            <input message="tns:ccInfo" name="checkCCInput">
            </input>
            <output message="tns:ccResponse" name="checkCCOutput">
            </output>
        </operation>
    </portType>

    <binding name="ReservationSoapBinding" type="tns:ReservationPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="checkCCOperation">
          <soap:operation soapAction="http://localhost:63081/bookingService/checkCC" style="document" />
          <input>
            <soap:body use="literal" />
          </input>
          <output>
            <soap:body use="literal" />
          </output>
        </operation>
    </binding>

    <service name="ReservationService">
      <port binding="tns:ReservationSoapBinding" name="ReservationImplPort">
        <soap:address location="http://localhost:63081/bookingService" />
      </port>
    </service>

</definitions>